Repository tektronix/python-package-ci-cd: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyright, poetry-check

Path conditions:
  pylint: any of: \.py$
  pyright: any of: \.py$
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$

chore: add pre-installation of setuptools and wheel in sbom-scan workflow
  .github/workflows/sbom-scan.yml
Due: none

chore: update SBOM workflow to enable pre-installing user-specified python packages (#853)
  .github/workflows/_reusable-sbom-scan.yml
  .github/workflows/sbom-scan.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  workflows/sbom-scan.md
Due: none

1.9.0
  .github/workflows/_reusable-package-release.yml
  .github/workflows/_reusable-package-testpypi.yml
  .github/workflows/_reusable-publish-api-comparison.yml
  .github/workflows/_reusable-publish-test-results.yml
  .github/workflows/_reusable-update-python-and-pre-commit-dependencies.yml
  CHANGELOG.md
  actions/create_unique_testpypi_version/readme.md
  actions/fetch_pr_number/readme.md
  actions/find_unreleased_changelog_items/readme.md
  actions/update_development_dependencies/readme.md
  pyproject.toml
  workflows/codeql-analysis.md
  workflows/enforce-community-standards.md
  workflows/package-build.md
  workflows/package-release.md
  workflows/package-testpypi.md
  workflows/publish-api-comparison.md
  workflows/publish-test-results.md
  workflows/sbom-scan.md
  workflows/test-code.md
  workflows/test-docs.md
  workflows/update-python-and-pre-commit-dependencies.md
Due: poetry-check

1.9.1
  .github/workflows/_reusable-package-release.yml
  .github/workflows/_reusable-package-testpypi.yml
  .github/workflows/_reusable-publish-api-comparison.yml
  .github/workflows/_reusable-publish-test-results.yml
  .github/workflows/_reusable-update-python-and-pre-commit-dependencies.yml
  CHANGELOG.md
  actions/create_unique_testpypi_version/readme.md
  actions/fetch_pr_number/readme.md
  actions/find_unreleased_changelog_items/readme.md
  actions/update_development_dependencies/readme.md
  pyproject.toml
  workflows/codeql-analysis.md
  workflows/enforce-community-standards.md
  workflows/package-build.md
  workflows/package-release.md
  workflows/package-testpypi.md
  workflows/publish-api-comparison.md
  workflows/publish-test-results.md
  workflows/sbom-scan.md
  workflows/test-code.md
  workflows/test-docs.md
  workflows/update-python-and-pre-commit-dependencies.md
Due: poetry-check

Update .github/workflows/dependency-review.yml
  .github/workflows/dependency-review.yml
Due: none

Apply suggestion from @nfelt14
  .github/workflows/dependency-review.yml
Due: none

Dependency updates (#914)
  actions/create_unique_testpypi_version/requirements.txt
  actions/update_development_dependencies/requirements.txt
Due: none

1.9.2
  .github/workflows/_reusable-package-release.yml
  .github/workflows/_reusable-package-testpypi.yml
  .github/workflows/_reusable-publish-api-comparison.yml
  .github/workflows/_reusable-publish-test-results.yml
  .github/workflows/_reusable-update-python-and-pre-commit-dependencies.yml
  CHANGELOG.md
  actions/create_unique_testpypi_version/readme.md
  actions/fetch_pr_number/readme.md
  actions/find_unreleased_changelog_items/readme.md
  actions/update_development_dependencies/readme.md
  pyproject.toml
  workflows/codeql-analysis.md
  workflows/enforce-community-standards.md
  workflows/package-build.md
  workflows/package-release.md
  workflows/package-testpypi.md
  workflows/publish-api-comparison.md
  workflows/publish-test-results.md
  workflows/sbom-scan.md
  workflows/test-code.md
  workflows/test-docs.md
  workflows/update-python-and-pre-commit-dependencies.md
Due: poetry-check

feat: make SSH signing optional for release workflow
  .github/workflows/_reusable-package-release.yml
  CHANGELOG.md
  workflows/package-release.md
Due: none

feat: make SSH signing optional for release workflow (#931)
  .github/workflows/_reusable-package-release.yml
  CHANGELOG.md
  workflows/package-release.md
Due: none

chore(pre-commit-config): update pre-commit hooks to latest versions
  .pre-commit-config.yaml
Due: none

chore(main): fix formatting in post-release version script documentation
  actions/create_unique_testpypi_version/main.py
Due: pylint, pyright

fix: enhance PR number fetching logic with improved error handling and input validation
  CHANGELOG.md
  actions/fetch_pr_number/action.yml
Due: none

fix: improve PR number retrieval logic with fallback search by commit SHA
  actions/fetch_pr_number/action.yml
Due: none

fix: enhance PR number retrieval with additional fallback mechanisms and improved error handling
  actions/fetch_pr_number/action.yml
Due: none

fix: enhance PR number retrieval with retry logic and increased attempt limits
  .github/workflows/test-actions.yml
  actions/fetch_pr_number/action.yml
Due: none

fix: enhance PR number retrieval with input validation and improved search methods
  actions/fetch_pr_number/action.yml
Due: none

fix: improve PR number retrieval with enhanced retry logic and updated search methods
  actions/fetch_pr_number/action.yml
Due: none

fix: enhance PR number retrieval with improved fallback to GraphQL search and refined REST endpoint handling
  actions/fetch_pr_number/action.yml
Due: none

fix: enhance PR number retrieval with improved head repo/branch discovery and additional fallback mechanisms
  actions/fetch_pr_number/action.yml
Due: none

fix: enhance PR number retrieval with GraphQL integration and improved fallback mechanisms
  actions/fetch_pr_number/action.yml
Due: none

fix: enhance PR number retrieval with deep inspection of candidate commits for intermediate SHA resolution
  actions/fetch_pr_number/action.yml
Due: none

fix: refine PR number retrieval by enhancing fork candidate detection and deep inspection logic
  actions/fetch_pr_number/action.yml
Due: none

fix: remove redundant max-attempts and retry-delay parameters from PR number verification steps
  .github/workflows/test-actions.yml
Due: none

fix: enhance PR number fetching logic with improved error handling and input validation (#972)
  CHANGELOG.md
  actions/fetch_pr_number/action.yml
Due: none

1.9.3
  .github/workflows/_reusable-package-release.yml
  .github/workflows/_reusable-package-testpypi.yml
  .github/workflows/_reusable-publish-api-comparison.yml
  .github/workflows/_reusable-publish-test-results.yml
  .github/workflows/_reusable-update-python-and-pre-commit-dependencies.yml
  CHANGELOG.md
  actions/create_unique_testpypi_version/readme.md
  actions/fetch_pr_number/readme.md
  actions/find_unreleased_changelog_items/readme.md
  actions/update_development_dependencies/readme.md
  pyproject.toml
  workflows/codeql-analysis.md
  workflows/enforce-community-standards.md
  workflows/package-build.md
  workflows/package-release.md
  workflows/package-testpypi.md
  workflows/publish-api-comparison.md
  workflows/publish-test-results.md
  workflows/sbom-scan.md
  workflows/test-code.md
  workflows/test-docs.md
  workflows/update-python-and-pre-commit-dependencies.md
Due: poetry-check

fix: improve PR number resolution logic with enhanced matching criteria
  actions/fetch_pr_number/action.yml
Due: none

fix: enhance PR number resolution by collecting candidates from multiple sources
  actions/fetch_pr_number/action.yml
Due: none

fix: enhance PR number resolution by including sibling fork PRs for better candidate matching
  actions/fetch_pr_number/action.yml
Due: none

fix: add debug logging for deep-inspect process to improve candidate visibility
  actions/fetch_pr_number/action.yml
Due: none

fix: enhance PR number resolution by including head reference for sibling PR matching
  actions/fetch_pr_number/action.yml
Due: none

fix: improve PR number resolution logic with enhanced matching criteria (#977)
  actions/fetch_pr_number/action.yml
Due: none

1.9.4
  .github/workflows/_reusable-package-release.yml
  .github/workflows/_reusable-package-testpypi.yml
  .github/workflows/_reusable-publish-api-comparison.yml
  .github/workflows/_reusable-publish-test-results.yml
  .github/workflows/_reusable-update-python-and-pre-commit-dependencies.yml
  CHANGELOG.md
  actions/create_unique_testpypi_version/readme.md
  actions/fetch_pr_number/readme.md
  actions/find_unreleased_changelog_items/readme.md
  actions/update_development_dependencies/readme.md
  pyproject.toml
  workflows/codeql-analysis.md
  workflows/enforce-community-standards.md
  workflows/package-build.md
  workflows/package-release.md
  workflows/package-testpypi.md
  workflows/publish-api-comparison.md
  workflows/publish-test-results.md
  workflows/sbom-scan.md
  workflows/test-code.md
  workflows/test-docs.md
  workflows/update-python-and-pre-commit-dependencies.md
Due: poetry-check

chore(python-deps): include findpython and installer in poetry dependencies grouping
  .github/renovate.json
Due: none

chore(python-deps): include findpython and installer in poetry dependencies grouping (#989)
  .github/renovate.json
Due: none

fix: add safety dependency with version pin to allow all pre-commit hooks to execute properly and prevent crashes in poetry
  pyproject.toml
Due: poetry-check

fix: add safety dependency with version pin to allow all pre-commit hooks to execute properly and prevent crashes in poetry (#1030)
  actions/update_development_dependencies/requirements.txt
  pyproject.toml
Due: poetry-check

1.9.5
  .github/workflows/_reusable-package-release.yml
  .github/workflows/_reusable-package-testpypi.yml
  .github/workflows/_reusable-publish-api-comparison.yml
  .github/workflows/_reusable-publish-test-results.yml
  .github/workflows/_reusable-update-python-and-pre-commit-dependencies.yml
  CHANGELOG.md
  actions/create_unique_testpypi_version/readme.md
  actions/fetch_pr_number/readme.md
  actions/find_unreleased_changelog_items/readme.md
  actions/update_development_dependencies/readme.md
  pyproject.toml
  workflows/codeql-analysis.md
  workflows/enforce-community-standards.md
  workflows/package-build.md
  workflows/package-release.md
  workflows/package-testpypi.md
  workflows/publish-api-comparison.md
  workflows/publish-test-results.md
  workflows/sbom-scan.md
  workflows/test-code.md
  workflows/test-docs.md
  workflows/update-python-and-pre-commit-dependencies.md
Due: poetry-check

chore(renovate): add pbs-installer to package name matching for updates
  .github/renovate.json
Due: none

chore(renovate): add pbs-installer to package name matching for updates (#1058)
  .github/renovate.json
Due: none
